@import '../../styles/variables';

.form-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;

  .form {
    display: flex;
    flex-direction: column;
  }

  .card{
    &__wrapper {
    height: 300px;
    }
  }
}